body{
    background-image: url('Image/background_simple_circle.jpg');
    background-size: cover;
    background-color: lavender;
    font-family: 'Trebuchet MS';
    font-size: 18px;   
    overflow: hidden; 
    margin-right: auto;
    margin-left: auto;

}

.header{
    /* background-color:  lemonchiffon; */   
    height: 20vh;
    margin-top: 0px;
}

.header ul li{
    display: inline;
    
}

.header ul li a{
    text-decoration: none;
    background-color: royalblue;
    color: seashell;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    opacity: 0.3;
    
}

.header ul li a:hover{
     opacity:1;
}

.navbar{
   /* background-color: chocolate; */
    height: 75vh;
    width: 20%;
    float: left;
}

.navbar ul li {
     display:inline;
}

.navbar ul li a {
     text-decoration: none;
}

.content{
   /* background-color: darkgray; */
    width: 80%;
    height: 75vh;
   float: right;
    
}

.content iframe{
    height: 100%;
    width: 100%;
}

.footer{
  /*  background-color: cornflowerblue; */
    
    
}

h1{
    color: royalblue;
    font-size: 2.5em;
    margin-top: 0px;
}


.button{
width:10%;
margin: 1%;
padding: 1%;
background-color: burlywood;
} 

